.box{
  width: 400px;
  height: 80vh;
  background-color: darkslateblue;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 25px;

  .upp{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .data{
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .location{
        color: white;
        text-align: center;
        font-size: 1.2em;
      }
      .temperature{
        color: white;
        text-align: center;
        font-size: 4em;
        font-weight: 900;
      }
    }
  }

  .low{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 1em;
    display: flex;
    flex-direction: column;

    .label{
      color: white;
    }
    .data{
      flex: 1;
      background-color: rgba(0, 0, 0, 0.1);
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      margin-top: 1em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .info{
        width: 50% ;
        display: flex;
        flex-direction: row;

        .info-label{
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          svg{
            width: 1.5em;
          }
          span{
            color: white;
            font-size: 0.8em;
          }
        }

        .info-value{
          width: 50%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: white;
        }
      }
    }
  }
}
