<div class="box">
  <div class="upp">
    <!-- <img src="https://images.unsplash.com/photo-1581224463294-908316338239?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8c3VufGVufDB8fDB8fHww&auto=format&fit=crop&w=1200&q=60" alt="Day img"> -->
    <img src="https://images.unsplash.com/photo-1570751485906-b0bbe415db74?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=816&q=80" alt="Night img">

    <div class="data">
      <div class="location">
        Bologna
      </div>
      <div class="temperature">
        {{ 14.40 | number: '1.0-0' }}°
      </div>
    </div>
  </div>
  <div class="low">

  </div>
</div>
